@media screen and (max-width: 480px) {
  /* General style ######################################################################################*/
  .container {
    width: 88vw;
  }

  .inknutAntiqua {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
    font-family: "Inknut Antiqua";
    text-transform: uppercase;
  }

  hr {
    width: 20.625rem;
  }

  /* navbar section ##################################################################################*/

  .navbar_nav {
    overflow: visible;
  }

  .navbar_nav_items {
    display: none;
  }

  .navbar_nav_items_mobile {
    background-color: var(--white);
    padding: 0.5rem;
    width: 88vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    transform: translate(0, 100%);
    bottom: -0.5rem;
    right: 0;
    z-index: 20;
  }

  .navbar_nav_items_mobile a {
    text-decoration: none;
    color: var(--black);
  }

  .banner {
    margin-top: 4rem;
    overflow-y: visible;
  }

  .banner h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 100%;
  }

  .banner_subtext {
    max-width: 100%;
    align-items: flex-start;
    margin-top: 3rem;
    padding-left: 0.9rem;
  }

  .banner_subtext svg {
    transform: scale(2);
  }

  .banner_picture {
    right: 0;
    transform: translateY(120%);
  }

  .banner_picture svg {
    transform: translateX(68%);
  }

  .banner_picture_pic {
    width: 20.625rem;
    height: 22.5rem;
    bottom: -10rem;
    right: 0;
  }

  .banner_picture_pic img {
    padding-top: 1rem;
  }

  .navBtnSection_container {
    padding: 4rem 0;
    height: 26rem;
    align-items: flex-end;
  }

  /* advantage section ##################################################################################*/

  .advantageSection {
    overflow-x: clip;
  }

  .advantageContainer {
    padding: 5rem 0 5rem 0;
    flex-direction: column;
  }

  .youtube {
    width: 88vw;
    height: calc(88vw / (16 / 9));
  }

  .advantageSection_ImgDiv {
    position: relative;
    width: 100%;
    height: 26rem;
  }

  .advantageSection_ImgDiv img {
    transform: translateX(-50%);
    left: 50%;
    max-width: 140%;
  }

  .advantageSection_ImgDiv_btn {
    top: 42%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .advantageSection_textDiv {
    width: 100%;
  }

  .advantage_exploreBtn {
    width: auto;
  }

  /* Features Section ######################################################################### */
  .featureSection {
    padding: 5rem 0 5rem 0;
  }

  .featureSection_textDiv {
    grid-template-columns: 1fr;
    gap: 3.25rem;
    align-items: center;
  }

  .featureSection_featureDiv {
    margin-top: 5rem;
    height: 24rem;
  }

  .featureCard {
    position: absolute;
    width: 88vw;
    height: 24rem;
    padding: 3rem;
  }

  /* projects Section ######################################################################### */

  .projectSection {
    overflow-x: clip;
  }

  .projectsHeader {
    grid-template-columns: 1fr;
  }

  .projectBody {
    margin-top: 3rem;
    gap: 5rem;
    flex-direction: column;
  }

  .project_categorySelector {
    margin-top: 0.75rem;
    display: block;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    color: var(--halfBlack);
    border: 1px solid var(--greyProjectSelect);
  }

  .projectBody_aside h4 {
    font-weight: 700;
    letter-spacing: 1px;
  }

  .categoryContainer {
    display: none;
  }

  .projectCard {
    padding: 1.75rem;
    height: 20rem;
  }

  .projectTextDiv {
    position: relative;
    z-index: 1;
  }

  .projectCard img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20%, 0);
    max-height: 108%;
  }

  img[alt="Tired Woman"] {
    max-height: 95%;
    transform: translate(0, 0);
  }

  /* client say Section ######################################################################### */

  .clientSaySection {
    overflow-x: clip;
  }

  .clientSayTopSect {
    background-color: var(--black);
    color: var(--white);
    padding: 6.5rem 0 12.25rem 0;
    position: relative;
  }

  .clientSay_cardDiv {
    width: 100%;
    top: 70%;
    left: 1.5rem;
  }

  .clientSay_card {
    width: 88vw;
    height: 40rem;
  }

  .clientSayBtnFlexContainer {
    margin-top: 32rem;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  /* partner Section ######################################################################### */

  .partnerContainer {
    padding: 5rem 0;
    height: auto;
    flex-direction: column;
    gap: 3.25rem;
  }

  /* blog Section ######################################################################### */

  .blog_textDiv {
    flex-direction: column;
    gap: 3.25rem;
  }

  .blog_contentDiv {
    grid-template-columns: repeat(1, 1fr);
    gap: 4.25rem;
  }

  .blog_card {
    width: 88vw;
  }

  .blog_card img {
    width: 88vw;
  }

  .blog_card p {
    letter-spacing: 0px;
  }

  /* sign up Section ######################################################################### */

  .signupSect {
    padding: 6.5rem 0;
  }

  .signupContainer hr {
    display: none;
  }

  .signupContainer h2 {
    width: 88vw;
  }

  .desktopNewsletter {
    display: none;
  }

  .mobileNewsletter {
    display: block;
  }

  .signup_form {
    width: 88vw;
    position: static;
  }

  /* footer Section ######################################################################### */

  .footerContainer {
    flex-direction: column;
    gap: 5rem;
  }
}
