:root {
  --orange: #ff564f;
  --orangeHover: #fd817c;
  --orangeSubcribe: #ff635c;
  --yellow: #f8e71c;
  --green: #417505;
  --purple: #9013fe;
  --black: #000000;
  --white: #ffffff;
  --whiteHover: #f0f0f0;
  --halfBlack: #11111180;
  --halfwhite: #ffffff80;
  --GreySocial: #333333;
  --greyProjectSelect: #dadada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  font-family: "Inknut Antiqua";
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 73.125rem;
  margin: auto;
}

.inknutAntiqua {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 4rem;
  font-family: "Inknut Antiqua";
  text-transform: uppercase;
}

.DMsans {
  font-family: "DM sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.robotoCondensed {
  font-family: "Roboto Condensed";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

hr {
  height: 3px;
  color: var(--black);
  background-color: var(--black);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 73.125rem;
}

.hidden {
  display: none !important;
}

.opaque {
  opacity: 0;
  transition: none !important;
}

/* Nav Section ######################################################################################*/

.navSection {
  background-color: var(--black);
  color: var(--white);
  height: 44rem;
}

.navbar {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site_title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.navbar_nav {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.hideDesktopNav {
  transform: translateX(150%);
}

.navbar_nav_items {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: center;
  transition: transform 0.7s;
}

.navbar_nav_items a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.navbar_nav_items a:hover {
  text-decoration: underline;
}

.navbar_nav_items_mobile {
  display: none;
}

.toggleNavBtn {
  background-color: var(--black);
  padding: 0.5rem;
  border: none;
  color: var(--white);
  position: relative;
  z-index: 10;
}

.toggleNavBtn:hover {
  background-color: var(--white);
  color: var(--black);
}

.banner {
  overflow-x: clip;
  margin-top: 9rem;
  position: relative;
}

.bannerCard {
  position: absolute;
  transition: opacity 0.5s ease-in;
}

.banner h2 {
  font-size: 4.5rem;
  line-height: 5rem;
  max-width: 80%;
  position: relative;
  z-index: 2;
}

.banner_subtext {
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 40%;
  gap: 2.75rem;
  position: relative;
  z-index: 2;
  margin-top: 3.25rem;
}

.banner_subtext svg {
  margin-left: 1rem;
  transform: scale(1.5);
}

.banner_picture {
  position: absolute;
  right: 0;
  top: 1.5rem;
  z-index: 0;
}

.banner_picture_pic {
  /* background-color: var(--orange); */
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  width: 35.625rem;
  height: 39rem;
  top: 5.625rem;
  right: 5.625rem;
}

.banner_picture_pic img {
  padding-top: 3rem;
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navBtnSection {
  position: relative;
}

.navBtnSection_container {
  height: 21.25rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.roundOrangeBtn {
  background-color: var(--orange);
  height: 3rem;
  width: 3rem;
  padding-top: 0.25rem;
  border: none;
  border-radius: 100px;
}

.roundOrangeBtn:hover {
  background-color: var(--orangeHover);
}

.roundOrangeBtn:active {
  transform: translateY(4px);
}

.navBtnSection_pageNo {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  line-height: 2rem;
  margin-left: 1rem;
}

/* Advantage Section ######################################################################### */

.advantageContainer {
  width: 100%;
  padding: 9.25rem 0 20rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.advantageSection_ImgDiv {
  position: relative;
  width: calc(1170px / 2);
}

.advantageSection_ImgDiv img {
  position: absolute;
  left: -9.5rem;
}

.advantageSection_ImgDiv_btn {
  width: 6.875rem;
  height: 6.875rem;
  border: none;
  border-radius: 10rem;
  background-color: var(--white);
  color: var(--orange);
  box-shadow: 0 6px 38px 0 rgba(31, 31, 31, 0.836);
  position: absolute;
  top: 60%;
  right: 53%;
}

.youtubeDiv {
  text-align: center;
}

.youtube {
  width: 35rem;
  height: 19.6875rem;
}

.closeYoutubeBtn {
  padding-top: 0.1rem;
  border: none;
  background-color: var(--greyProjectSelect);
  border-radius: 100px;
  height: 3rem;
  width: 3rem;
}

.closeYoutubeBtn:hover {
  opacity: 0.6;
}

.advantageSection_ImgDiv_btn:hover {
  background-color: var(--whiteHover);
}

.advantageSection_ImgDiv_btn svg {
  margin: 1rem 0.625rem 0.625rem 1rem;
}

.advantageSection_textDiv {
  width: calc(1170px / 2);
}

.advantageSection_textDiv h3 {
  margin: 2rem 0;
}

.advantageSection_textDiv p {
  color: var(--halfBlack);
  max-width: 30rem;
}

.advantageSection_btn {
  margin-top: 2rem;
  width: 10.625rem;
  height: 3rem;
  border: none;
  border-radius: 3px;
}

.advantage_learnBtn {
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 1px;
}

.advantage_learnBtn:hover {
  background-color: var(--orangeHover);
}

.advantage_learnBtn:active {
  transform: translateY(4px);
}

.advantage_exploreBtn {
  margin-left: 1rem;
  background: none;
}

.advantage_exploreBtn:hover {
  text-decoration: underline;
}

/* Features Section ######################################################################### */

.featureSection {
  background-color: var(--black);
  color: var(--white);
  padding: 9rem 0 5rem 0;
}

.featureSection p {
  margin: 0;
  color: var(--halfwhite);
}

.featureSection_textDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
  align-items: center;
}

.featureSection_textDiv h3 {
  margin: 0;
}

.featureSection_featureDiv {
  overflow-x: clip;
  margin-top: 8.25rem;
  height: 18rem;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  position: relative;
}

.featureCard {
  position: absolute;
  width: 35.625rem;
  height: 18rem;
  padding: 3rem;
  transition: transform 0.5s ease-out;
}

.featureCard h5 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.featureSection_dotsdiv {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dotsdiv_dot {
  border-radius: 1rem;
  height: 0.375rem;
  width: 0.375rem;
  background-color: var(--halfwhite);
}

.activeDot {
  background-color: var(--purple);
}

/* Projects Section ######################################################################### */
.projectSection {
  overflow-x: clip;
}

.projectsHeader {
  padding: 6.25rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
  align-items: center;
  position: relative;
}

.projectsHeader h2 {
  margin: 0;
}

.projectsHeader p {
  color: var(--halfBlack);
}

.projectBody {
  margin: 4.75rem 0;
  display: flex;
  gap: 8.125rem;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  width: 10.625rem;
  gap: 1rem;
  margin-top: 2.25rem;
}

.category_button {
  height: 3rem;
  width: 10.625rem;
  text-align: start;
  padding: 0;
  border: none;
  background: none;
  transition: padding 0.5s;
}

.category_button:hover {
  text-decoration: underline;
}

.activeCategory {
  background-color: var(--black);
  color: var(--white);
  padding: 0 1rem;
  border-radius: 3px;
}

.project_categorySelector {
  display: none;
}

.projectBody_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projectBody_contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projectCard {
  border-radius: 3px;
  height: 26rem;
  padding: 3rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.projectTextDiv h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 0.75rem;
}

.projectTextDiv {
  width: 18rem;
  position: relative;
  z-index: 1;
}

.projectBody_btn {
  margin-top: 2.25rem;
  align-self: center;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  height: 3rem;
  width: 10.625rem;
  border-radius: 3px;
}

.projectBody_btn:hover {
  background-color: var(--orangeHover);
}

.projectBody_btn:active {
  transform: translateY(4px);
}

.projectCard img {
  position: absolute;
  bottom: 0;
  right: 30%;
  transform: translate(50%, 0);
  max-height: 120%;
}

/* Client Say Section ######################################################################### */

.clientSaySection {
  overflow-x: clip;
}

.clientSayTopSect {
  background-color: var(--black);
  color: var(--white);
  padding: 9.5rem 0;
  position: relative;
}

.clientSay_textDiv {
  width: 29rem;
}

.clientSay_textDiv h2 {
  margin-bottom: 2rem;
}

/* .clientSay_cardDiv {
  display: flex;
  gap: 1.875rem;
  position: absolute;
  top: 30%;
  left: 50%;
}

.clientSay_card {
  padding: 3rem;
  width: 29.375rem;
  height: 32rem;
} */

.clientSay_cardDiv {
  position: absolute;
  top: 30%;
  left: 50%;
  overflow-x: clip;
  height: 32rem;
  width: 50%;
}

.clientSay_card {
  position: absolute;
  padding: 3rem;
  width: 29.375rem;
  height: 32rem;
  transition: transform 0.3s ease-out;
}

.clientSay_figure {
  display: flex;
  align-items: center;
  gap: 1.625rem;
  margin-bottom: 6.75rem;
}

.clientSay_figure img {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
}

.clientSay_figure h5 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.clientSay_blockquote p {
  color: var(--halfwhite);
}

.clientSayBtnFlexContainer {
  padding: 8.5rem 0;
  display: flex;
  gap: 0.5rem;
}

.clientSayBottomSect {
  position: relative;
}

/* Partner Section ######################################################################### */

.partnerSect {
  position: relative;
}

.partnerContainer {
  height: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Blog Post Section ######################################################################### */

.blogSection {
  margin: 6.5rem 0;
}

.blog_textDiv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5.5rem;
}

.blog_textDiv p {
  max-width: 35.625rem;
}

.blog_contentDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.blog_card {
  width: 23.125rem;
}

.blog_card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.blog_card p {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
  margin: 0.75rem 0;
}

/* signup Section ######################################################################### */

.signupSect {
  background-color: var(--black);
  color: var(--white);
  padding: 8rem 0;
}

.signupContainer {
  position: relative;
}

.signupContainer hr {
  background-color: var(--white);
}

.signupContainer h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
  width: 23rem;
  padding-bottom: 6.5rem;
}

.desktopNewsletter {
  display: block;
}

.mobileNewsletter {
  display: none;
}

.signup_form {
  background-color: var(--orange);
  gap: 2rem;
  width: 29.375rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  position: absolute;
  right: 10%;
  bottom: -38%;
  z-index: 10;
  border-radius: 3px;
}

.signup_form input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
}

.signup_form button {
  color: var(--white);
  font-weight: 700;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--orangeSubcribe);
}

.signup_form button:hover {
  background-color: var(--orangeHover);
}

/* Footer Section ######################################################################### */

.footerSect {
  padding: 5rem 0 7.25rem 0;
  background-color: var(--black);
  color: var(--white);
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer_titleDiv {
  width: 8.9375rem;
}

.footerContainer h1 {
  padding-bottom: 2rem;
}

.footerContainer h3 {
  padding-bottom: 2rem;
}

.footer_addressDiv {
  width: 12rem;
}

.footer_addressDiv p {
  padding-bottom: 1rem;
}

.footer_menuDiv a {
  text-decoration: none;
  color: var(--white);
}

.footer_menuDiv a:hover {
  text-decoration: underline;
}

.footer_socialDiv {
  width: 16.875rem;
}

.footer_socialDiv nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.footer_socialDiv a {
  padding-top: 0.3rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--GreySocial);
  text-align: center;
  border-radius: 100px;
}

.footer_socialDiv a:hover {
  background-color: var(--halfwhite);
}
